/*  base settings
---------------------------------------------------------------------------------- */

html,
body {
	// width      : 100vw; // make site fit width
	// height     : 100vh; // make site fill screen // may cause scrollTop bug
	// max-width  : 100%; // do not allow x scrolling
	// overflow-x : hidden; // able to hide stuff out of screen
	// overflow-y : auto; // scrolling auto
	font-size  : 100%; // ~16px
}

html {
	text-size-adjust: 100%; // disable auto-enlargement of small text in safari
	box-sizing : border-box; // width & height to include paddings
	-webkit-overflow-scrolling : touch; // smooth scrolling for iOS
	-webkit-font-smoothing: antialiased; // better font rendering
	-moz-osx-font-smoothing: grayscale; // ^^
}

*,
*::before,
*::after {
	box-sizing     : inherit; // inherit border-box from above
	text-rendering : optimizeLegibility; // make small text readable
}

body {
	cursor      : auto; // reset cursor
	margin      : 0; // tight fit as a default
	padding     : 0; // ^^
	position    : relative; // for child absolutes to align to
	font-style  : normal; // reset font
	font-weight : normal; // ^^
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
hr,
pre,
figure,
blockquote {
	margin: 0; // remove all margins & paddings
	padding: 0; // ^^
}

ol,
ul {
	list-style: none; // remove default list bullets
}

input,
select,
button,
textarea {
	font: inherit; // inherit bases
	color: inherit; // ^^
	letter-spacing: inherit; // ^^
}

img,
svg,
embed,
video,
audio,
canvas,
iframe,
object {
	height    : auto; // responsive
	max-width : 100%; // ^^

	display        : block; // inline block has whitespace at bottom
	vertical-align : middle; // line side by side images by middle

	image-rendering        : auto; // better scaling images most browers
	-ms-interpolation-mode : bicubic; // better scaling images IE
}

.map_canvas,
.mqa-display {
	img,
	embed,
	object {
		max-width : none !important; // better google map embed
	}
}

table {
	width: 100%; // default table style
	table-layout: fixed; // ^^
}

a:hover {
	cursor : pointer; // links use pointers
}
