/*  constants
---------------------------------------------------------------------------------- */

$pri-font  : 'Varela Round';
$pri-link  : 'Varela+Round';
$pri-sizes : '';

// $sec-font  : 'Montserrat';
// $sec-link  : $sec-font;
// $sec-sizes : ':300,400,700';

@font-face {
	font-family: $pri-font;
	font-display: swap; // use system fonts first, swap when custom loads
	src: local('Varela Round'), local( 'VarelaRound-Regular' ),
		url( '../fonts/VarelaRound-Regular.ttf' ) format( 'truetype' )
}

// @font-face {
// 	font-family: $sec-font;
// 	font-style: normal;
// 	font-weight: 400;
// 	font-display: swap; // use system fonts first, swap when custom loads
// 	src: url('~@/assets/fonts/nunito-v10-latin-700.eot'); /* IE9 Compat Modes */
// 	src: local('Nunito Bold'), local('Nunito-Bold'),
// 		url('~@/assets/fonts/nunito-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		url('~@/assets/fonts/nunito-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
// 		url('~@/assets/fonts/nunito-v10-latin-700.woff') format('woff'), /* Modern Browsers */
// 		url('~@/assets/fonts/nunito-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
// 		url('~@/assets/fonts/nunito-v10-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
// }

h1 { font-size: $t-ll }
h2 { font-size: $t-xl }
h3 { font-size: $t-lg }
h4 { font-size: $t-md }
h5 { font-size: $t-sm }
h6 { font-size: $t-xs }

h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	color: $color-head;
	font-weight: normal; // safari auto bolds h
	font-family: $pri-font, $font-sans;
}

html {
	font-size: $t-md;
	line-height: 1.5;
	color: $color-text;
	font-family: $pri-font, $font-sans;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	display: inline;
	transition: all ease .25s;
	background-size: 100% 0px;
	text-decoration: underline;
	background-position: bottom;
	background-repeat: no-repeat;
	color: lighten( $color-link, 7% );
	background-image: linear-gradient( 90deg, lighten( $color-link, 0% ) 100%, transparent 100% );
	text-shadow: 1px 1px $color-white, -1px 1px $color-white, -1px -1px $color-white, 1px -1px $color-white;

	@include hover() {
		&:hover {
			color: lighten( $color-link, 21% );
		}
	}
}
