/*  mother of all bases
---------------------------------------------------------------------------------- */
$em    : 16px;
$ratio : 1.618; // golden ratio

/*  device sizes
---------------------------------------------------------------------------------- */
$phone   : 36em; // ~576px
$tablet  : 48em; // ~768px
$desktop : 62em; // ~992px
$xlarge  : 75em; // ~1200px

/*  colors
---------------------------------------------------------------------------------- */
$color-black  : #1e1e1e;
$color-grey   : #6e6e6e;
$color-white  : #fafafa;

$color-red    : #f55555;
$color-orange : #ffb446;
$color-yellow : #fff546;
$color-green  : #a5f06e;
$color-blue   : #4691fa;
$color-purple : #a04bc8;
$color-pink   : #ff96f5;

/*  typography
---------------------------------------------------------------------------------- */
$pri-font  : 'Varela Round';
$pri-link  : 'Varela+Round';
$pri-sizes : '';

$sec-font  : 'Montserrat';
$sec-link  : $sec-font;
$sec-sizes : ':300,400,700';
