/*  breaks
---------------------------------------------------------------------------------- */

$ss: 0px; // default
$xs: 576px; // tiny
$sm: 640px; // phones

$md: 768px; // tablets

$lg: 1024px; // desktop
$xl: 1280px; // wide
$ll: 1440px; // hd



/*  colors
---------------------------------------------------------------------------------- */

$color-black  : #1e1e1e;
$color-grey   : #6e6e6e;
$color-white  : #fafafa;

$color-red    : #f55555;
$color-orange : #ffb446;
$color-yellow : #fff546;
$color-green  : #a5f06e;
$color-blue   : #4691fa;
$color-purple : #a04bc8;
$color-pink   : #ff96f5;

$color-head: $color-purple;
$color-text: $color-black;
$color-link: $color-pink;



/*  typography
---------------------------------------------------------------------------------- */

$scale-golden-ratio: 1.618;
$scale-perfect-fifth: 1.5;
$scale-augmented-fourth: 1.414;
$scale-perfect-fourth: 1.333;
$scale-major-third: 1.25;
$scale-minor-third: 1.2;
$scale-major-second: 1.125;

$scale: $scale-golden-ratio;

$t-xs: #{ power( $scale, 1 ) - 1 }rem;
$t-sm: #{ 1 }rem;
$t-md: #{ power( $scale, 1 ) }rem;
$t-lg: #{ power( $scale, 2 ) }rem;
$t-xl: #{ power( $scale, 3 ) }rem;
$t-ll: #{ power( $scale, 4 ) }rem;

$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



/*  spacing
---------------------------------------------------------------------------------- */

$s-0: 0;

$s-ss: .25rem; // 4px
$s-xs: .5rem; // 8px
$s-sm: .75rem; // 12px

$s-md: 1rem; // 16px

$s-lg: 1.25rem; // 20px
$s-xl: 1.5rem; // 24px
$s-ll: 2rem; // 32px

$s-1: 4rem; // 64px
$s-2: 8rem; // 128px
$s-3: 16rem; // 256px



/*  degrees
---------------------------------------------------------------------------------- */

$d-0: 0%;

$d-ss: 5%;
$d-xs: 10%;
$d-sm: 25%;

$d-md: 50%;

$d-lg: 75%;
$d-xl: 90%;
$d-ll: 95%;

$d-1: 100%;




/*  radius
---------------------------------------------------------------------------------- */

$r-xs: 0;
$r-sm: .125rem;

$r-md: .25rem;

$r-lg: .5rem;
$r-xl: 9999px;



/*  shadows
---------------------------------------------------------------------------------- */

$sd--1: inset 0 2px 4px 0 rgba( 0, 0, 0, 0.06 );
$sd-0: none;

$sd-xs: 0 1px 3px 0 rgba( 0, 0, 0, .1 ), 0 1px 2px 0 rgba( 0, 0, 0, .06 );
$sd-sm: 0 4px 6px -1px rgba( 0, 0, 0, .1 ), 0 2px 4px -1px rgba( 0, 0, 0, .06 );

$sd-md: 0 10px 15px -3px rgba( 0, 0, 0, .1 ), 0 4px 6px -2px rgba( 0, 0, 0, .05 );

$sd-lg: 0 20px 25px -5px rgba( 0, 0, 0, .1 ), 0 10px 10px -5px rgba( 0, 0, 0, .04 );
$sd-xl: 0 25px 50px -12px rgba( 0, 0, 0, .25 );
